html {
  height: 100vh;
  background-position: 0% 70%;
  background-attachment: fixed; }

.display {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 120px;
  padding: 40px; }
  @media (max-width: 770px) {
    .display {
      margin-top: 180px; } }
  .display .container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
    .display .container a {
      height: 200px;
      overflow: hidden;
      position: center; }
      .display .container a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
