h1 {
  font-size: 60px;
  font-family: "Lato", sans-serif; }

.primary-text {
  color: #28a745; }

h2 {
  font-size: 25px;
  font-family: "Lato", sans-serif; }

h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif; }
